/* fancyLink */
.fancyLink {
	background-color: #ddd;
	margin: 0.5em;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
	border: thin solid black;
	display: inline-block;
	width: 256px;
	height: 64px;
	overflow: hidden;
	position: relative;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
}
.fancyLink img {
	position: absolute;
	left: 96px;
	top: 0;
    transition: left 0.2s ease-in-out;
}
.fancyLink label {
	cursor: pointer;
	display: table-cell;
	vertical-align: middle;
	width: 256px;
	height: 64px;
	color: #000;
	opacity: 0.67;
	text-shadow: 0 0 4px white;
	font-weight: bold;
	letter-spacing: 0em;
    transition: opacity 0.2s ease-in-out, letter-spacing 0.2s ease-in-out, font-size 0.2s ease-in-out;
}
.fancyLink:hover img.pos0 {
	left: 0px;
}
.fancyLink:hover img.pos1 {
	left: 64px;
}
.fancyLink:hover img.pos2 {
	left: 128px;
}
.fancyLink:hover img.pos3 {
	left: 192px;
}
.fancyLink:hover label {
	opacity: 0.9;
	letter-spacing: 0.2em;
	font-size: 140%;
}
